{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Shop</title>
    {% bootstrap_css %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
</head>
<body>
{% buttons %}
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    <a href="{% url 'draw_polygons' %}" class="btn btn-primary">Draw Polygons</a>
{% endbuttons %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form form_group_class='col-sm-4' %}
    {% buttons %}
        <button type="submit" class="btn btn-primary ">Save</button>
    {% endbuttons %}
</form>
{% if message %}
    {% bootstrap_messages %}
{% endif %}
</body>
</html>