{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Shop</title>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    {% bootstrap_css %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
</head>
<body>


<h1>Shop GEO-Test</h1>
{% buttons %}
    <a href="{% url 'create_shop' %}" class="btn btn-primary ">Create Shop</a>
    <a href="{% url 'draw_polygons' %}" class="btn btn-primary ">Draw Polygons</a>
{% endbuttons %}

<script>
    $(document).ready(function () {
        var latlng = new google.maps.LatLng("59.9342802", "30.3350986");
        var mapOptions = {
            zoom: 10,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($('.map')[0], mapOptions);

        {#        var marker = new google.maps.Marker({#}
        {#            position: latlng,#}
        {#            map: map,#}
        {#            title: "Jesteś tutaj"#}
        {#        });#}

        {% for shop in shops %}
            latlng = new google.maps.LatLng("{{ shop.location.y }}", "{{ shop.location.x }}");
            new google.maps.Marker({
                position: latlng,
                map: map,
                title: "{{ shop.name }}"
            });
        {% endfor %}
    });
</script>
<div class="map" style="width: 100%; height: 500px;"></div>
<div style="margin-top: 50px;"></div>


<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form form_group_class='col-sm-4' layout='horizontal' %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Search</button>
    {% endbuttons %}
</form>
{% if shops %}
    <h2>Shops near you</h2>
    <ul>
        {% for shop in shops %}
            <li><b>{{ shop.name }}</b>: distance: {{ shop.distance }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>